@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: inherit;
}

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
}

nav{
    background-color: #ef233c;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.lightAndDark{
    display: flex;
    gap: 0.3rem;
}

.sun, .moon{
    font-size: 12px;
}

.moon{
    color: #03071e;
}

.checkInput{
    display: grid;
    grid-template-areas: "stack";
}

.checkInput>*{
    grid-area: stack;
}

.themeCheckbox{
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.themeCheck{
    margin-top: 2px;
    position: relative;
    content: "";
    width: 18px;
    height: 9px;
    background-color: #fbf0e6;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.themeCheck::after{
    content: "";
    width: 7.5px;
    height: 7.5px;
    background-color: #03071e;
    position: absolute;
    left: 0.05rem;
    border-radius: 50%;
}

.themeCheckbox:checked ~ .themeCheck{
    background-color: #03071e;
}

.themeCheckbox:checked ~ .themeCheck::after{
    right: 0.05rem;
    left: unset;
    background-color: #fbf0e6;
}

.rightSide{
    display: flex;
    gap: 0.7rem;
    position: relative;
}

.cart{
    align-self: center;
    font-size: 20px;
}

.wishList{
    font-size: 20px;
}

.cartNum{
    background-color: aqua;
    color: #03071e;
    border-radius: 50%;
    padding: 0rem 0.2rem;
    position: absolute;
    right: -4px;
    top: -7px;
}

section{
    display: grid;
    justify-items: center;
    padding: 4rem 3rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    text-align: center;
    background-color: #fbf0e6;
    width: 300px;
    display: grid;
}

.itemImg{
    height: 11rem;
    width: 100%;
    object-fit: cover;
}

.details{
    display: grid;
    justify-content: center;
    padding-block: 0.5rem 0.8rem;
}

.nameInch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.price{
    margin-bottom: 0.5rem;
    color: #d90429;
}

.memory, .storage, .processor{
    font-size: 13px;
}

.buttons{
    display: flex;
    justify-self: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.buttons>*{
    border-radius: 0px;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 12px;
    background-color: #ffffff;
}

.addToCart{
    padding-inline: 1.2rem;
    background-color: #ef233c;
}